body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.header {
    background-color: hsla(330, 48.5%, 32%, 1);
    display: flex;
    justify-content: space-between;
    color: white;
    height: 28px;
}

.info {
    display: flex;
    flex-direction: row;
    column-gap: 22px;
    margin-right: 5px;
    align-items: center;
}

.mheader {
    display: flex;
    flex-direction: column;

}

.header2 {
    display: flex;
    justify-content: center;
    background-color: hsla(330, 48.5%, 32%, 1);
}